/* EnquiryPage.css */
.container-2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.enquiry-form {
  display: flex;
  flex-direction: column;
}

.enquiry-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.enquiry-form label {
  margin-top: 10px;
}

.enquiry-form input,
.enquiry-form select,
.enquiry-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.enquiry-form textarea {
  resize: vertical;
}

.enquiry-form button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.enquiry-form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .container {
      padding: 10px;
  }

  .enquiry-form label,
  .enquiry-form input,
  .enquiry-form select,
  .enquiry-form textarea,
  .enquiry-form button {
      font-size: 0.9rem;
  }
}
.success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.success-message h2 {
  color: #2844a7; /* Green color for success */
  margin-bottom: 1rem;
}

.success-message p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}